.content {
  height: calc(100% - 98px);
  overflow: auto;
  .table {
    width: 100%;

    .mat-column-actions {
      .actions-menu {
        cursor: pointer;
      }
    }

    .mat-column-actions {
      text-align: center;
      width: 80px;
    }
  }

  .mat-paginator-sticky {
    bottom: 0px;
    position: sticky;
    z-index: 10;
  }
}

.button-actions {
  vertical-align: middle;
}

.td-bullet {
  width: 24px;
  padding-left: 10px!important;
}

.value-container{
  display: flex;
  justify-content: start;
  gap: 5px;
}

.permission-legend{
  padding-left: 10px;
  padding-top: 24px;
  display: inline-block;
}
