/*
 * Licensed to Gisaïa under one or more contributor
 * license agreements. See the NOTICE.txt file distributed with
 * this work for additional information regarding copyright
 * ownership. Gisaïa licenses this file to you under
 * the Apache License, Version 2.0 (the "License"); you may
 * not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
.content {
  height: calc(100% - /** Permission legend */ 89px
    - /** Page header */ 48px);
  overflow: auto;
  .table {
    width: 100%;

    .mat-column-actions {
      .actions-menu {
        cursor: pointer;
        font-weight: bold;
      }
    }

    .mat-column-actions {
      text-align: center;
      width: 80px;
    }
  }
}

.button-actions {
  vertical-align: middle;
}

.td-bullet {
  width: 24px;
  padding-left: 10px!important;
}

.value-container{
  display: flex;
  justify-content: start;
  gap: 5px;
}

.permission-legend {
  padding-left: 10px;
  padding-top: 24px;
  padding-bottom: 5px;
  display: inline-block;
}
