<arlas-iam-top-menu [pages]="pages"></arlas-iam-top-menu>

<div *ngIf="updateLock" class="lock" (click)="updateLock = !updateLock">
  <button mat-icon-button >
    <span class="material-symbols-outlined">
      lock
    </span>
  </button>
  <div class="description">{{'Locked, click to edit' | translate}}</div>
</div>
<div *ngIf="!updateLock" class="lock" (click)="updateLock = !updateLock">
  <button mat-icon-button >
    <span class="material-symbols-outlined">
      lock_open
    </span>
  </button>
  <div class="description">{{'Unlocked, click to prevent changes' | translate}}</div>
</div>
<table class="rules">
  <tr>
    <th class="empty" style="background: linear-gradient(to top right, white 49%,#AAA 49.5%,#AAA 50.5%, white 51%);">
      <div style="text-align: right;padding-right: 5px;">{{'Groups' | translate}}</div>
      <div style="text-align: left;padding-left: 5px;">{{'Permissions' | translate}}</div>
    </th>
    <th class="roles" *ngFor="let role of groups">{{role.name}}</th>
  </tr>
  <tr *ngFor="let perm of perms">
    <th class="perm">{{perm.description}}</th>
    <td *ngFor="let role of groups">
      <arlas-iam-rules-item [disabled]="updateLock" [checked]="perm.roleIds.includes(role.id)" [roleId]="role.id"
        [permId]="perm.id"></arlas-iam-rules-item>
    </td>
  </tr>
</table>
