.lock {
  display: flex;
  align-items: center;
  .material-symbols-outlined {
    font-size: 30px;
  }
}

.rules {
  display: block;
    overflow-x: auto;
    white-space: nowrap;


  tr {
    height: 48px;

    th {
      background-color: lightgrey;
      font-weight: 400;

      &.empty {
        background-color: white;
      }
    }

    td {
      text-align: center;
      background-color: whitesmoke;
    }
  }
}
