<arlas-iam-top-menu [pages]="pages"></arlas-iam-top-menu>

<form [formGroup]="userForm" class="form-user">
  <div class="form-content">
    <h4>{{'Information' | translate}}</h4>

    <mat-form-field appearance="fill">
      <mat-label>{{'Groups' | translate}}</mat-label>
      <mat-select formControlName="groups" multiple required>
        <mat-option *ngFor="let group of orgGroups" [value]="group.id">{{group.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>{{'Roles' | translate}}</mat-label>
      <mat-select [multiple]="true" formControlName="roles" required>
        <mat-option [value]="role.id" *ngFor="let role of orgRoles">
          {{role.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <button mat-flat-button color="accent" [disabled]="!userForm.valid" (click)="submit()" tabindex="-1">
      {{'Update' | translate}}
    </button>
    <button mat-button type="button" (click)="back()" tabindex="-1"> {{'Cancel' | translate}}
    </button>
  </div>
</form>
