.form-add-user {
  padding: 10px;

  .form-content {
    display: flex;
    flex-direction: column;

    mat-form-field {
      width: fit-content;
      min-width: 400px;
    }

    .owner{
      padding: 0 0 15px 10px;
    }

    .trigger-description {
      opacity: 0.75;
      font-size: 0.75em;
    }
  }
}

.option-description {
  opacity: 0.75;
  font-size: 0.75em;
}
