<arlas-iam-top-menu [pages]="pages"></arlas-iam-top-menu>

<form [formGroup]="userForm" class="form-add-user">
  <div class="form-content">
    <h3>{{'Information' | translate}}</h3>

    <mat-form-field appearance="outline" class="email">
      <mat-label>{{'Email' | translate}}</mat-label>
      <input type="text" formControlName="email" matInput [matAutocomplete]="auto" required>
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        @for (email of filteredEmails | async; track email) {
          <mat-option [value]="email">
            {{email}}
          </mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>{{'Groups' | translate}}</mat-label>
      <mat-select formControlName="groups" multiple required>
        <mat-select-trigger>
          @let groups = userForm.get('groups').value;
          {{groups?.[0]?.name || ''}}
          @if ((groups?.length || 0) > 1) {
            <span class="trigger-description">
              (+{{(groups?.length || 0) - 1}} {{groups?.length === 2 ? 'other' : 'others'}})
            </span>
          }
        </mat-select-trigger>
        @for (group of orgGroups; track group) {
          <mat-option [value]="group">
            {{group.name}} -
            <span class="option-description">{{group.description | translate}}</span>
          </mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>{{'Roles' | translate}}</mat-label>
      <mat-select [multiple]="true" formControlName="roles" required>
        <mat-select-trigger>
          @let roles = userForm.get('roles').value;
          {{roles?.[0]?.name || ''}}
          @if ((roles?.length || 0) > 1) {
            <span class="trigger-description">
              (+{{(roles?.length || 0) - 1}} {{roles?.length === 2 ? 'other' : 'others'}})
            </span>
          }
        </mat-select-trigger>
        @for (role of orgRoles; track role) {
          <mat-option [value]="role">
            {{role.name | roleName}} -
            <span class="option-description">{{role.description | translate}}</span>
          </mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>
  <div class="actions">
    <button matButton="outlined" type="button" (click)="back()" tabindex="-1"> {{'Cancel' | translate}}
    </button>
    <button matButton="filled" color="accent" [disabled]="!userForm.valid" (click)="submit()" tabindex="-1">
      {{'Invite' | translate}}
    </button>
  </div>
</form>
