<mat-toolbar class="header" [color]="'primary'">
  <span style="cursor: pointer;" [routerLink]="'/'">ARLAS IAM</span>
  <div class="right">
    <div *ngIf="!domainOrgExist" class="create-org">
      <button class="add-org" (click)="addOrg()" mat-flat-button color="accent">{{'Create organisation' |
        translate}}</button>
    </div>
    <div class="orga">
      {{'Organisation'| translate}}
      <mat-select #currentOrg class="current-orga" [value]="organisations[0]" (selectionChange)="updateCurrentOrga($event)">
        <mat-option *ngFor="let org of this.organisations" [value]="org">{{org.name}}</mat-option>
      </mat-select>
    </div>
  </div>
</mat-toolbar>
<div class="app">
  <div class="menu">
    <mat-nav-list class="route-nav-list">
      <mat-list-item matTooltip="'User' | translate" [routerLink]="'user'" routerLinkActive="active-page">
        <span class="material-symbols-outlined">
          face
        </span>
        <span class="label">{{'Users' | translate}}</span>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item matTooltip="'Groups' | translate" [routerLink]="'role'" routerLinkActive="active-page">
        <span class="material-symbols-outlined">
          group
        </span>
        <span class="label">{{'Groups'| translate}}</span>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item matTooltip="'Permissions' | translate" [routerLink]="'permission'" routerLinkActive="active-page">
        <span class="material-symbols-outlined">
          verified_user
        </span>
        <span class="label">{{'Permissions'| translate}}</span>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item matTooltip="'Rules' | translate" [routerLink]="'rule'" routerLinkActive="active-page">
        <span class="material-symbols-outlined">
          rule
        </span>
        <span class="label">{{'Rules'| translate}}</span>
      </mat-list-item>



    </mat-nav-list>
    <mat-nav-list class="route-nav-list login">
      <mat-list-item matTooltip="Logout" (click)="logout()">
        <span class="material-symbols-outlined">
          logout
        </span>
        <span class="label">{{'Logout' | translate}}</span>
      </mat-list-item>
    </mat-nav-list>
  </div>
  <div class="main-view">
    <div *ngIf="displayDashboard" class="profile">
      <arlas-iam-top-menu [pages]="pages">
      </arlas-iam-top-menu>

      <div class="content">
        <div class="perso">
          <span class="material-symbols-outlined x-large">
            face
          </span>

          <div class="mail">
            <span class="material-symbols-outlined">
              mail
            </span>
            {{user?.email}}
          </div>
          <div class="locale">
            <span class="material-symbols-outlined">
              language
            </span>
            {{user?.locale === 'en' ? ('English' | translate) : ('French' | translate)}}
          </div>
        </div>
        <div class="orgs">
          <h3>{{'Organisations' | translate}}</h3>
          <div class="list">
            <mat-card *ngFor="let org of allMyOrgs" class="card">
              <mat-card-title>{{org.name}}</mat-card-title>
              <mat-card-content>
                <div>Role : {{org.isOwner ? ('Owner' | translate) : ('Member' | translate)}}</div>
                <div>Groups : {{org.groups}}</div>
              </mat-card-content>
              <mat-card-actions *ngIf="org.isOwner">
                <button mat-flat-button (click)="manage(org);currentOrg.value= org">Manage</button>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
<mat-toolbar class="footer">© Gisaïa 2022</mat-toolbar>
