/*
 * Licensed to Gisaïa under one or more contributor
 * license agreements. See the NOTICE.txt file distributed with
 * this work for additional information regarding copyright
 * ownership. Gisaïa licenses this file to you under
 * the Apache License, Version 2.0 (the "License"); you may
 * not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
@import "colors.scss";

::ng-deep .top-menu {
  background-color: $primaryColor !important;
  padding: 0 10px !important;
  color: white;

  .right-menu {
    display: flex;
    align-items: center;
    gap: 0 5px;

    .create-org {
      padding-right: 15px;

      .add-org {
        font-size: 14px;
        height: 30px;
      }
    }

    .orga {
      font-size: medium;
      font-weight: 300;
      padding-right: 15px;
      display: flex;
      align-items: center;
      gap: 5px;

      .current-orga {
        width: 150px;
        background-color: white;
        color: black;
        padding: 0 5px;

        .mat-mdc-select-value {
          padding-left: 0;
        }
      }
    }
  }
}

.app {
  height: calc(100% - 76px);
  display: flex;
  flex-direction: row;

  .menu {
    height: 100%;
    width: 165px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid rgba(0, 0, 0, 0.12);

    .action-list {
      color: #ededed;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .route-nav-list {
      padding-top: 0;
      .active-page {
        --mdc-list-list-item-label-text-color: #ff5722;
      }
    }
    .mat-mdc-list-item {
      color: #28292b;
      &.mdc-list-item--disabled  {
        cursor: not-allowed;
      }
    }

    .login {
      max-height: 130px;
      .username {
        .label {
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          display: block;
        }
      }
    }

    .label {
      margin: 4px;
      font-size: 14px;
    }
  }

  .main-view {
    width: calc(100% - 167px);

    .profile {
      height: 100%;

      .content {
        height: calc(100% - 50px);
        overflow: auto;
        display: flex;
        gap: 0 10px;

        .orgs {
          width: 100%;
          padding: 0px 5px;
          .list {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .card {
              background: #f2f6fc;
              box-shadow:
                inset 1px -1px 0 0 rgb(100 121 143 / 12%),
                inset -1px 1px 0 0 rgb(100 121 143 / 12%);
              display: flex;
              justify-content: space-between;
              padding: 10px 20px;
              align-items: center;

              button {
                background-color: white;
                color: rgba(0, 0, 0, 0.7);
              }

              &.selected {
                color: #00bcd4;
                border: 2px solid #00bcd4;

                .title {
                  font-weight: 500;
                }
              }

              .info {
                display: flex;
                flex-direction: column;
                .title {
                  font-size: 24px;
                }
              }

              .selected-btn {
                background-color: white;
                color: #00bcd4;
                border-color: #00bcd4;
              }
            }
          }
        }
      }
    }
  }
}

.footer {
  height: 36px;
  font-size: small;
}
