<arlas-top-menu [showAboutButton]="false">
  <div left-menu>{{'ARLAS IAM' | translate}}</div>
  <div right-menu>
    <div *ngIf="!domainOrgExist || isSuperAdmin" class="create-org">
      <button class="add-org" (click)="addOrg()" mat-flat-button color="accent">{{'Create organisation' |
        translate}}</button>
    </div>
    <div class="orga">
      {{'Organisation'| translate}}
      <mat-select #currentOrg class="current-orga" [value]="currentSelectedOrg"
        (selectionChange)="updateCurrentOrga(currentOrg.value)">
        <mat-option *ngFor="let org of this.organisations" [value]="org">{{org.displayName}}</mat-option>
      </mat-select>
    </div>
  </div>
</arlas-top-menu>
<div class="app">
  <div class="menu">
    <mat-nav-list class="route-nav-list">
      <mat-list-item [matTooltip]="'Home' | translate" [routerLink]="'/'" [routerLinkActiveOptions]="{ exact: true }"
        [queryParamsHandling]="'preserve'" routerLinkActive="active-page" [matTooltipPosition]="'right'">
        <span class="material-symbols-outlined">
          home
        </span>
        <span class="label">{{'Home' | translate}}</span>
      </mat-list-item>
      <mat-list-item [matTooltip]="'User' | translate" [routerLink]="'user'" routerLinkActive="active-page" [matTooltipPosition]="'right'"
        [queryParamsHandling]="'preserve'">
        <span class="material-symbols-outlined">
          person
        </span>
        <span class="label">{{'Users' | translate}}</span>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item [matTooltip]="'Groups' | translate" [routerLink]="'role'" routerLinkActive="active-page" [matTooltipPosition]="'right'"
        [queryParamsHandling]="'preserve'">
        <span class="material-symbols-outlined">
          group
        </span>
        <span class="label">{{'Groups'| translate}}</span>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item [matTooltip]="'Permissions' | translate" [routerLink]="'permission'" routerLinkActive="active-page" [matTooltipPosition]="'right'"
        [queryParamsHandling]="'preserve'">
        <span class="material-symbols-outlined">
          verified_user
        </span>
        <span class="label">{{'Permissions'| translate}}</span>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item [matTooltip]="'Rules' | translate" [routerLink]="'rule'" routerLinkActive="active-page" [matTooltipPosition]="'right'"
        [queryParamsHandling]="'preserve'">
        <span class="material-symbols-outlined">
          rule
        </span>
        <span class="label">{{'Rules'| translate}}</span>
      </mat-list-item>



    </mat-nav-list>
  </div>
  <div class="main-view">
    <div *ngIf="displayDashboard" class="profile">
      <arlas-iam-top-menu [pages]="pages">
      </arlas-iam-top-menu>

      <div class="content">
        <div class="perso">
          <div class="name" *ngIf="!!user?.firstName || !!user?.lastName">
            <span class="material-symbols-outlined medium">
              person
            </span>
            {{user?.firstName}} {{user?.lastName}}
          </div>
          <div class="mail">
            <span class="material-symbols-outlined">
              mail
            </span>
            {{user?.email}}
          </div>
          <div class="locale">
            <span class="material-symbols-outlined">
              language
            </span>
            {{user?.locale === 'en' ? ('English' | translate) : ('French' | translate)}}
          </div>
        </div>
        <div class="orgs">
          <h3>{{'My organisations' | translate}}</h3>
          <div class="list">
            <div *ngFor="let org of allMyOrgs" class="card" [class.selected]="org.id == currentSelectedOrg.id">
              <div class="info">
                <div class="title">{{org.displayName}}</div>
                <div class="role">{{'Role' | translate}} : {{org.isOwner ? ('Owner' | translate) : ('Member' |
                  translate)}}</div>
              </div>
              <button [class.selected-btn]="org.id == currentSelectedOrg.id" *ngIf="org.isOwner" mat-stroked-button
                (click)="manage(org)">{{'Manage' | translate}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
<mat-toolbar class="footer">© Gisaïa 2023</mat-toolbar>
