.header {
  color: #fff;
  height: 48px;
  display: flex;
  justify-content: space-between;

  .right {
    display: flex;
    gap: 0 15px;

    .create-org {
    }

    .orga {
      font-size: medium;
      font-weight: 300;
      margin: auto;

      .current-orga {
        width: 150px;
        background-color: white;
        color: black;
        padding: 0 5px;
      }
    }
  }
}

.app {
  height: calc(100% - 84px);
  display: flex;
  flex-direction: row;

  .menu {
    height: 100%;
    width: 165px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid rgba(0, 0, 0, 0.12);

    .action-list {
      color: #ededed;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .route-nav-list {
      .active-page {
        color: #ff5722;
      }
    }
    .mat-list-item {
      color: #28292b;
    }
    .mat-list-item-content {
      margin: 15px !important;
      padding: unset !important;
    }

    .login {
      max-height: 130px;
      .user-name {
        .label {
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
      }
    }

    .label {
      margin: 4px;
      font-size: 14px;
    }
  }

  .main-view {
    width: calc(100% - 167px);

    .profile {
      height: 100%;

      .content {
        height: calc(100% - 50px);
        overflow: auto;
        display: flex;
        gap: 0 10px;

        .perso {
          min-width: 300px;
          border-right: 1px solid lightgray;
          display: flex;
          flex-direction: column;
          align-items: center;

          .mail, .locale {
            display: flex;
            align-items: center;
            gap: 0 7px;
          }
        }

        .orgs{
          .list{
            display: flex;
            gap: 10px;

            .card{
              background: #f2f6fc;
              box-shadow: inset 1px -1px 0 0 rgb(100 121 143 / 12%), inset -1px 1px 0 0 rgb(100 121 143 / 12%);
            }
          }
        }
      }
    }
  }
}

.footer {
  height: 36px;
  font-size: small;
}
