.content {
  height: calc(100% - 50px);
  overflow: auto;
  .table {
    width: 100%;

    .mat-column-email {
      &.inactive {
        color: lightgray;
      }
    }

    .mat-column-actions {
      .actions-menu {
        cursor: pointer;
      }
    }

    .mat-column-actions,
    .mat-column-active,
    .mat-column-verified,
    .mat-column-isOwner {
      width: 80px;
    }

    .mat-cell.mat-column-isOwner,
    .mat-cell.mat-column-actions,
    .mat-cell.mat-column-active,
    .mat-cell.mat-column-verified {
      padding-left: 10px;
    }
  }

  .mat-paginator-sticky {
    bottom: 0px;
    position: sticky;
    z-index: 10;
  }
}

.button-actions {
  vertical-align: middle;
}

td {
  padding: 4px;
}

.group {
  &-container {
    width: 200px;
    text-align: start;
  }
}
.group-item {
  margin: 2px 0;
}
.group-item:after {
  content: '\2022';
  display: inline-block;
  margin: 2px 4px;
}

.group-item:last-of-type:after {
  content: ''
}

.test {
  background: #6d676714;
  border-radius: 20px;
  padding: 6px;
  width: 10px;
  height: 10px;
  font-size: 10px;
  display: inline-block;
  /* margin-top: auto; */
}
