.content {
  .table {
    width: 100%;

    .mat-column-actions {
      .actions-menu {
        cursor: pointer;
      }
    }

    .mat-column-actions,
    .mat-column-active,
    .mat-column-verified,
    .mat-column-isOwner {
      text-align: center;
      width: 80px;
    }
  }
}

.button-actions {
  vertical-align: middle;
}
