.content {
  height: calc(100% - 50px);
  overflow: auto;
  .table {
    width: 100%;

    .mat-column-email {
      &.inactive {
        color: lightgray;
      }
    }

    .mat-column-actions {
      .actions-menu {
        cursor: pointer;
      }
    }

    .mat-column-actions,
    .mat-column-active,
    .mat-column-verified,
    .mat-column-isOwner {
      width: 40px;
      text-align: center;
    }

    .mat-column-groups,
    .mat-column-roles {
      width: 250px;
      text-align: start;
      padding: 5px;
    }

    .mat-cell.mat-column-isOwner,
    .mat-cell.mat-column-actions,
    .mat-cell.mat-column-active,
    .mat-cell.mat-column-verified {
      padding-left: 10px;
    }
  }

  .mat-paginator-sticky {
    bottom: 0px;
    position: sticky;
    z-index: 10;
  }
}

.button-actions {
  vertical-align: middle;
}

.group {
  &-container {
    padding: 5px;
  }
  &-item {
    &:after {
      content: '\2022';
      display: inline-block;
      margin: 2px 4px;
    }

    &:last-of-type:after {
      content: ''
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .content .table{
    .mat-column-actions,
    .mat-column-active,
    .mat-column-verified,
    .mat-column-isOwner {
      width: 40px;
      text-align: center;
    }

    .mat-column-groups,
    .mat-column-roles {
      width: 175px;
      text-align: start;
    }
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .content .table{
    .mat-column-actions,
    .mat-column-active,
    .mat-column-verified,
    .mat-column-isOwner {
      width: 40px;
      text-align: center;
    }

    .mat-column-groups,
    .mat-column-roles {
      width: 350px;
      text-align: start;
    }
  }

}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 2500px) {
  .content .table{
    .mat-column-actions,
    .mat-column-active,
    .mat-column-verified,
    .mat-column-isOwner {
      width: 80px;
      text-align: center;
    }

    .mat-column-groups,
    .mat-column-roles {
      width: 750px;
      text-align: start;
    }
  }
}
