<div class="top-menu">
  <div class="title">
    <ng-container *ngFor="let page of pages">
      <span class="link" *ngIf="!!page.route" (click)="navigateTo(page.route)">{{page.label | translate}}</span>
      <span class="divider" *ngIf="!!page.route">></span>
      <span *ngIf="!page.route">{{page.label | translate}}</span>
    </ng-container>
    <mat-spinner class="spinner" [diameter]="40" *ngIf="showSpinner"></mat-spinner>
  </div>
  <div class="actions">
    <button *ngIf="showCreate" class="add-button" (click)="addEvent()" mat-flat-button color="accent">{{createText | translate}}</button>
  </div>
</div>
