.top-menu {
  background-color: whitesmoke;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 28px;

  .title {
    font-weight: 300;
    font-size: 18px;

    .link{
      cursor: pointer;
      &:hover{
        color: #ff5722;
      }
    }

    .divider{
      padding: 0 10px;
    }
  }

  .actions {
    .add-button {
      line-height: 28px;
    }
  }
}
