<div class="inner-menu">
  <div class="title">
    @for (page of pages; track page) {
      @if (!!page.route) {
        <span class="link" (click)="navigateTo(page.route)">{{page.label | translate}}</span>
        <span class="divider">></span>
        <span>{{page.label | translate}}</span>
      }
    }
    @if (showSpinner) {
      <mat-spinner class="spinner" [diameter]="40"></mat-spinner>
    }
  </div>
  <div class="actions">
    @if (showTechnical) {
      <mat-checkbox [checked]="showTechnicalState" (change)="emitTechnical($event)" class="show-technical">{{'Show technical roles' | translate}}</mat-checkbox>
    }
    @if (showCreate) {
      <button class="add-button" (click)="addEvent()" mat-flat-button color="accent">{{createText | translate}}</button>
    }
  </div>
</div>
