.top-menu {
  background-color: whitesmoke;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 28px;

  .title {
    font-weight: 300;
    font-size: 18px;

    .link {
      cursor: pointer;
      &:hover {
        color: #ff5722;
      }
    }

    .divider {
      padding: 0 10px;
    }
  }

  .actions {
    display: flex;
    gap: 0 15px;
    align-items: center;

    .show-technical {
      font-size: 12px;
      ::ng-deep .mat-checkbox-inner-container {
        width: 12px;
        height: 12px;
      }
    }

    .add-button {
      line-height: 28px;
    }
  }
}
