<h2 mat-dialog-title>{{'Create organisation'| translate}}</h2>
<mat-dialog-content class="content">
  <form [formGroup]="createOrgForm" class="create-perm">
    <div class="form-content">
      <mat-form-field appearance="outline" class="description">
        <mat-label>{{'Email domain name' | translate}}</mat-label>
        <input type="text" formControlName="name" matInput required>
        <mat-error *ngIf="createOrgForm.get('name').errors && createOrgForm.get('name').errors['hasArobase']">{{'Organisation must not contain @.' | translate}}</mat-error>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="false">{{'Cancel' | translate}}</button>
  <button mat-button [disabled]="!createOrgForm.valid" [mat-dialog-close]="createOrgForm.get('name').value">{{'Create' | translate}}</button>
</mat-dialog-actions>
