<div class="legend">
  <div  class="legend-container">
    <arlas-permission-bullet [size]="'10px'" [mode]="'index'"  [index]="0"></arlas-permission-bullet>
    <span class="legend-text">{{ 'A Permission giving the right to access one or more data collections' | translate }}</span>
  </div>
  <div class="legend-container">
    <arlas-permission-bullet  [size]="'10px'" [mode]="'index'"  [index]="1"></arlas-permission-bullet>
    <span class="legend-text">{{ 'A permission that limits visibility of the data in a collection, based on a filter' | translate }}</span>
  </div>
  <div class="legend-container">
    <arlas-permission-bullet   [size]="'10px'" [mode]="'index'" [index]="2"></arlas-permission-bullet>
    <span class="legend-text">{{ 'Other type of permission' | translate }}</span>
  </div>
</div>
