@import "~@angular/material/theming";

$arlas-app-primary: mat-palette($mat-cyan);
$arlas-app-accent:  mat-palette($mat-deep-orange);

$primaryColor: mat-color($arlas-app-primary);
$accentColor: mat-color($arlas-app-accent);
